html, body {
  height: 100%;
}

.section-wrapper {
  height: 100vh;
  width: 100vw;
}

.even-section {
  background-color: #EAEAEA;
}

h1 > a,
h1 > a:active,
h1 > a:hover,
h1 > a:focus,
h1 > a:visited {text-decoration: none; outline: none;
  background-color: transparent; color: inherit;}

#about-title {
  color: #ec1b5a
}

#work-experience-title {
  color: #79aefe;
}

#project-title {
  color: #314190;
}

#skills-title {
  color: #279636;
}

#education-title {
  color: #7d5d81;
}

#contact-title {
  color: #ead24c;
}

#resume-title {
  color: #2d2366;
}
