html, body {
  height: 100%;
}

.section-wrapper {
  height: 100vh;
  width: 100vw;
}

.even-section {
  background-color: #EAEAEA;
}

h1 > a,
h1 > a:active,
h1 > a:hover,
h1 > a:focus,
h1 > a:visited {text-decoration: none; outline: none;
  background-color: transparent; color: inherit;}

#about-section {
  background-color: #ec1b5a
}

#work-experience-section {
  background-color: #79aefe;
}

#project-section {
  background-color: #314190;
}

#skills-section {
  background-color: #279636;
}

#education-section {
  background-color: #7d5d81;
}

#contact-section {
  background-color: #ead24c;
}

#resume-section {
  background-color: #2d2366;
}
